/* Font styles */
@font-face {
    font-family: 'Celatic Editorial';
    src: url('/fonts/Celatic Editorial.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cabinet Grotesk';
    src: url('/fonts/Cabinet Grotesk.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
}

/* Utility classes */
h3,
h4,
p,
a,
button {
    font-family: 'Cabinet Grotesk', sans;
}

h1 {
    font-family: 'Celatic Editorial', serif;
}

section {
    @apply opacity-0 translate-y-8 transition-all duration-500 ease-out;
}

section.is-visible {
    @apply opacity-100 translate-y-0;
}

.text-gradient {
    @apply bg-gradient bg-clip-text text-transparent;
}

.text-gradient-secondary {
    @apply bg-gradient-secondary bg-clip-text text-transparent;
}

/* Scrollbar styles */
::-webkit-scrollbar {
    @apply w-1.5 h-1.5;
}

::-webkit-scrollbar-track {
    @apply bg-[#10100e];
}

::-webkit-scrollbar-thumb {
    @apply bg-[#676767] transition-colors duration-300 ease-in-out;
}

#gallery::-webkit-scrollbar {
    @apply hidden;
}
