::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #191919;
}

::-webkit-scrollbar-thumb {
  background-color: #10100E;
  transition: background-color 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #191919;
}

#works-content::-webkit-scrollbar {
  display: none;
}

.text-gradient {
  @apply bg-gradient bg-clip-text text-transparent pb-1;
}

.text-gradient-secondary {
  @apply bg-gradient-secondary bg-clip-text text-transparent;
}
