---
import Layout from '../layouts/Layout.astro';

const obj = {
    title: '500 - Internal Server Error',
    description: 'Oops! Something went wrong on the server',
};
---

<Layout title={obj.title} description={obj.description} url="">
    <div class="h-screen grid place-content-center text-center text-balance">
        <h1 class="text-5xl md:text-6xl xl:text-7xl text-gradient mb-2">{obj.title}</h1>
        <p class="text-base md:text-lg xl:text-xl text-gradient-secondary">{obj.description}</p>
    </div>
</Layout>
