---
import { Image } from 'astro:assets';
---

<div
    class="relative bg-[#191919] flex items-center justify-center rounded-full w-48 md:w-52 h-48 md:h-52 mb-10 md:mb-12"
>
    <Image
        src={`/images/other/leon.webp`}
        alt="Hero"
        width={200}
        height={200}
        decoding="async"
        loading="eager"
        format="webp"
        draggable="false"
        class="object-cover rounded-full overflow-hidden w-40 md:w-44 h-40 md:h-44 select-none"
    />
    <div class="absolute -bottom-3 text-xs bg-[#212121] px-2 md:px-2.5 py-0.5 md:py-1 rounded-full">
        <div class="flex items-center justify-center space-x-2">
            <span class="relative flex h-1.5 w-1.5">
                <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-emerald-400 opacity-75"
                ></span>
                <span class="relative inline-flex rounded-full h-1.5 w-1.5 bg-emerald-500"></span>
            </span>
            <p class="text-gradient text-[10px] md:text-xs">Available</p>
        </div>
    </div>
</div>
