---
const date = new Date().getFullYear();
---

<footer class="text-center mt-10 pb-4">
    <p class="text-gradient text-sm">
        &copy; {date} &bull; <a href="https://instagram.com/rafthllh" target="_blank">Rafif Athallah</a>
    </p>
    <p class="text-xs text-gradient-secondary">Built with Astro</p>
</footer>
