---
const { content } = Astro.props;
---

<p class="text-sm md:text-base xl:text-xl text-gradient-secondary text-center text-balance max-w-80 md:max-w-full mb-8 md:mb-12 xl:mb-14">
    {content}
</p>
